journal-scheduler-n8n.json
{
  "name": "Morning AI Journals Scheduler (Interactive Telegram to Google Sheets & Quiz)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 5 * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://export.arxiv.org/api/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search_query",
              "value": "cat:cs.AI OR cat:cs.LG OR cat:cs.HC"
            },
            {
              "name": "sortBy",
              "value": "submittedDate"
            },
            {
              "name": "sortOrder",
              "value": "descending"
            },
            {
              "name": "max_results",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Fetch ArXiv API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "content": "={{ 'Berikut adalah data XML mentah dari ArXiv: ' + $json.data + '\\n\\nTugas: Ekstrak 3 jurnal ilmiah terbaru. Output WAJIB berupa JSON array murni tanpa markdown (tanpa ```json). Setiap objek memiliki key: \"title\" (judul), \"authors\" (penulis), \"link\" (link langsung ke arxiv.org/abs/...), dan \"summary\" (1-2 kalimat perkenalan singkat dalam bahasa Indonesia).' }}"
            }
          ]
        }
      },
      "id": "3",
      "name": "OpenAI Formatter",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const responseText = $input.first().json.message.content;\nlet journals = [];\n\ntry {\n  journals = JSON.parse(responseText);\n} catch (e) {\n  // Fallback if AI wraps in markdown\n  const cleaned = responseText.replace(/```json/g, '').replace(/```/g, '');\n  journals = JSON.parse(cleaned);\n}\n\nlet messageText = \"*\ud83d\udcda 3 Jurnal AI/ML Terbaru Hari Ini*\\n\\n\";\nlet inlineKeyboard = [[]];\n\njournals.forEach((journal, index) => {\n  const num = index + 1;\n  messageText += `*${num}. ${journal.title}*\\n`;\n  messageText += `\ud83d\udc68\u200d\ud83d\udd2c Penulis: ${journal.authors}\\n`;\n  messageText += `\ud83d\udcd6 Rangkuman: ${journal.summary}\\n`;\n  messageText += `\ud83d\udd17 Link: [Baca di sini](${journal.link})\\n\\n`;\n  \n  // Add button to the first row\n  inlineKeyboard[0].push({\n    text: `\u2705 Jurnal ${num}`,\n    callback_data: `save|${journal.link}`\n  });\n});\n\nreturn {\n  message: messageText,\n  replyMarkup: {\n    inline_keyboard: inlineKeyboard\n  }\n};"
      },
      "id": "4",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "613981246",
        "text": "={{ $json.message }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": "={{ $json.replyMarkup }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "5",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ]
      },
      "id": "6",
      "name": "Telegram Callback Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        100,
        550
      ]
    },
    {
      "parameters": {
        "jsCode": "const callbackData = $input.first().json.callback_query.data;\nconst link = callbackData.split('|')[1];\n\nreturn {\n  link: link,\n  is_read: 1,\n  created_at: new Date().toISOString()\n};"
      },
      "id": "7",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        550
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "name"
        },
        "operation": "append",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "",
            "title": "",
            "author": "",
            "link": "={{ $json.link }}",
            "content": "",
            "is_read": "={{ $json.is_read }}",
            "created_at": "={{ $json.created_at }}",
            "read_count": "",
            "source": ""
          }
        },
        "options": {}
      },
      "id": "8",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        500,
        550
      ]
    },
    {
      "parameters": {
        "operation": "answerCallbackQuery",
        "callbackQueryId": "={{ $('Telegram Callback Trigger').item.json.callback_query.id }}",
        "text": "Jurnal berhasil ditandai sudah dibaca di Google Sheets! Menyiapkan Quiz...",
        "showAlert": false
      },
      "id": "9",
      "name": "Answer Callback Query",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        700,
        550
      ]
    },
    {
      "parameters": {
        "url": "http://export.arxiv.org/api/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id_list",
              "value": "={{ $('Extract Data').item.json.link.split('/').pop() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "10",
      "name": "Fetch ArXiv Abstract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        550
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "content": "={{ 'Berdasarkan data XML jurnal ini:\\n\\n' + $json.data + '\\n\\nBuatkan 5 pertanyaan quiz pilihan ganda (A, B, C, D) untuk menguji pemahaman pengguna. Gunakan bahasa Indonesia.\\n\\nFormat WAJIB seperti ini:\\n\\n*Quiz Singkat Jurnal! \ud83e\udde0*\\n\\n1. [Pertanyaan 1]\\nA. [Pilihan]\\nB. [Pilihan]\\nC. [Pilihan]\\nD. [Pilihan]\\n\\n...sampai 5 pertanyaan.\\n\\n_(Balas pesan ini dengan jawabanmu untuk mengecek benar/salah!)_\\n\\n||KUNCI_JAWABAN: [Contoh: 1A, 2B, 3C, 4D, 5A]||' }}"
            }
          ]
        }
      },
      "id": "11",
      "name": "Generate Quiz",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1100,
        550
      ]
    },
    {
      "parameters": {
        "chatId": "613981246",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "12",
      "name": "Send Quiz to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1300,
        550
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "13",
      "name": "Telegram Message Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        100,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "27b72740-4384-48dc-baee-04e8d3cbfa2f",
              "leftValue": "={{ $json.message.reply_to_message ? true : false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "f51c726a-939e-4e4d-ad50-995f7ef5e2d1",
              "leftValue": "={{ $json.message.reply_to_message?.text }}",
              "rightValue": "Quiz Singkat Jurnal!",
              "operator": {
                "type": "string",
                "operation": "contains",
                "name": "filter.operator.contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "14",
      "name": "Check If Quiz Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        300,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const replyText = $input.first().json.message.reply_to_message.text;\nconst userText = $input.first().json.message.text;\n\n// Extract KUNCI_JAWABAN from replyText (Telegram strips the || markdown in raw text)\nconst match = replyText.match(/KUNCI_JAWABAN:\\s*(.+?)(?:\\|\\||$)/i);\nlet replyMsg = \"Terima kasih sudah mencoba menjawab! \ud83e\udd73\\n\\n\";\n\nif (match) {\n  replyMsg += \"*Berikut adalah Kunci Jawaban yang benar:*\\n\u2705 \" + match[1].trim() + \"\\n\\nSilakan cocokkan dengan jawabanmu di atas ya!\";\n} else {\n  replyMsg += \"Maaf, kunci jawaban tidak ditemukan di pesan aslinya.\";\n}\n\nreturn { text: replyMsg };"
      },
      "id": "15",
      "name": "Extract Grade (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        780
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "replyToMessageId": "={{ $('Telegram Message Trigger').item.json.message.message_id }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "16",
      "name": "Send Grade to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        700,
        780
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch ArXiv API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ArXiv API": {
      "main": [
        [
          {
            "node": "OpenAI Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Formatter": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Callback Trigger": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Answer Callback Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback Query": {
      "main": [
        [
          {
            "node": "Fetch ArXiv Abstract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ArXiv Abstract": {
      "main": [
        [
          {
            "node": "Generate Quiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Quiz": {
      "main": [
        [
          {
            "node": "Send Quiz to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Message Trigger": {
      "main": [
        [
          {
            "node": "Check If Quiz Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Quiz Reply": {
      "main": [
        [
          {
            "node": "Extract Grade (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Grade (Code)": {
      "main": [
        [
          {
            "node": "Send Grade to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  }
}