journal-scheduler-n8n.json
{
  "name": "Morning AI Journals Scheduler to Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 5 * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://export.arxiv.org/api/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search_query",
              "value": "cat:cs.AI OR cat:cs.LG OR cat:cs.HC"
            },
            {
              "name": "sortBy",
              "value": "submittedDate"
            },
            {
              "name": "sortOrder",
              "value": "descending"
            },
            {
              "name": "max_results",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Fetch ArXiv API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "content": "={{ 'Berikut adalah data XML mentah dari ArXiv: ' + $json.data + '\\n\\nTugas: Ekstrak 3 jurnal ilmiah terbaru. Berikan judul, penulis, link langsung ke jurnal atau PDF (misal http://arxiv.org/abs/...), dan 1-2 kalimat perkenalan singkat dalam bahasa Indonesia. Jangan buat rangkuman panjang, utamakan direct link untuk dibaca langsung. Outputkan saja teksnya, tanpa basa-basi.' }}"
            }
          ]
        }
      },
      "id": "3",
      "name": "OpenAI Formatter",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "613981246",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "4",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        850,
        200
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch ArXiv API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ArXiv API": {
      "main": [
        [
          {
            "node": "OpenAI Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Formatter": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  }
}